.footer {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;

  
}

.footer__brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__brand-heading {
  font: 800 22px 'Sofia Pro Bold';
  margin: 0;
}

.footer__brand-description {
  text-align: center;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0;
}

.footer__brand-description p {
  text-align: center;
  font: 400 16px 'Sofia Pro Light';
  color: rgb(var(--color-foreground));
  margin-block: 1em 0;
}


.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: capitalize;
  padding: 0;
}

.footer__menu-list li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__list-item {
  color: rgb(var(--color-foreground));
  font: 500 21px 'Sofia Pro SemiBold';
  text-decoration: none;
  position: relative;
  text-align: center;
}


.footer__menu-wrapper-child {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
 
  /* height: 0;
  transition: height 0.3sec ease-in-out;
  */

  }

  .footer__menu-wrapper-child {
    max-height: 0; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Transition for the dropdown */
    opacity: 0;
  }

  .footer__menu-wrapper-child a {
    font: 16px 'Sofia Pro Regular';
    color: white;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .footer__menu-wrapper-child.visible {
    max-height: 400px; /* Set to a maximum height that can fit the child links */
    /* Adjust 200px as needed depending on how many links you have */
    padding: 10px 0;
    o

  }




.footer__list-item:hover {
  color: rgb(var(--color-foreground));
}

.footer__list-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(var(--color-foreground));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer__list-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.footer__list-social .svg-wrapper {
  width: 44px;
  height: 44px;
}

.footer__list-social .svg-wrapper svg {
  width: 44px;
  height: 44px;
}

.footer__newsletter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 100%;
  background: #0A3437;
  border-radius: 15px;
}

.newsletter__title {
  text-align: center;
  font: 700 26px 'Sofia Pro SemiBold';
  color: white;
  margin-top: 0;
}

.dd__custom-newletter-form {
  border-radius: 8px;
  overflow: hidden;
}

.dd__field-input {
  background: white;

}

.dd__field-input {
  border-radius: 8px;
  overflow: hidden;
}

.field__label.custom {
  font: 16px 'Futura PT Medium';
  color: black;
}

.field__button.custom {
  height: 45px;
  width: 45px;
  background-color: #155F64;
}

.dd__custom-field {
  border-radius: 8px;
  overflow: hidden;
}

.dd__custom-field::after {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid #155F64;
  outline: 0;
}

.dd__custom-field:focus {
  outline: 0;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.newsletter__description {
  font: 17px 'Futura PT Medium';
  text-align: center;
  margin-block-end: 0;
  padding-inline: 15px;
}

.footer__terms-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}

.footer__copyright--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px 8px;
  background-color: #A2C4C5;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__copyright-content {
  font: 12px 'Sofia Pro Light';
  color: #0A3437;
}

.footer__copyright-content a {
  font: 12px 'Sofia Pro Light';
  color: #0A3437;
  text-transform: capitalize;
  text-decoration: none;
}




@media screen and (min-width: 789px) {
  .footer__wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 120px;
    padding-bottom: 80px;
  }

  .footer__brand-info {
    width: 300px;
    align-items: baseline;
  }

  .footer__brand-description p {
    text-align: start;
  }

  .footer__menu-list {
    flex-direction: row;
    gap: 70px;
    align-items: baseline;
  }

  .footer__list-item {
    font-size: 24px;
  }

  .footer__terms-wrapper {
    flex-direction: row;
    margin-inline: 120px;
    padding: 0;
    border-top: 1px solid #FFFFFF96;
    justify-content: space-between;
    padding-top: 35px;
    margin-top: 20px;
  }

  .footer__copyright--wrapper {
    border: none;
  
    padding: 5px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .footer__copyright-content {
    font-size: 15px;
    line-height: 24px;
  }

  .footer__copyright-content a {
    font-size: 15px;
    line-height: 24px;
  }



  .footer__policies {
    justify-content: flex-end;
    gap: 60px;
    margin: 0;
  }

  .footer__policies-item {
    font-size: 18px;
    margin: 0;
  }

  .footer__newsletter-wrapper {
    width: 340px;
    align-items: baseline;
  }

  .footer-block__newsletter {
    width: 100%;
  }

  .newsletter__description {
    padding-inline: 0;
    text-align: start;
  }

  .footer__menu-wrapper-child {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 17px;
    margin-top: 17px;
  }

  .footer-dropdown {
    display: none;
  }

}


